<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>Title</title>
</head>
<body>
<form th:action="@{get_cur}">
	<input type="text" th:name="currency"/>
	<input type="submit" value="Currency (RUB, USD, etc)"/>
</form>
<span th:if="${kostyl} != null">
<span th:if="${searchResult > 0}">
	<iframe src="https://giphy.com/embed/3Jhdg8Qro5kMo" width="480" height="295" frameBorder="0" class="giphy-embed" allowFullScreen></iframe><p><a href="https://giphy.com/gifs/money-disney-aladdin-3Jhdg8Qro5kMo">via GIPHY</a></p>
</span>
<span th:if="${searchResult < 0}">
	<iframe src="https://giphy.com/embed/Km2YiI2mzRKgw" width="480" height="365" frameBorder="0" class="giphy-embed" allowFullScreen></iframe><p><a href="https://giphy.com/gifs/empire-muslim-ottoman-Km2YiI2mzRKgw">via GIPHY</a></p>
</span>
</span>
</body>
</html>